.content {
    align-items: center;
    display: flex;
    height: 60rem; 
    justify-content: center;
    position: relative;

    @media (max-width: 960px) {
            flex-direction: column;
            gap: 1.2rem;
            height: auto;
            text-align: center;
        }

}
nav {
    font-size: 1.8rem;
}
.hero {
    display: flex;
    background-color: bisque;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;

    @media (max-width: 960px) {
        height: auto;
        padding: 15rem 0;
    }
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;

    @media (max-width: 960px) {
        flex-direction: column-reverse;
        text-align: center;
        gap: 1rem;
    }
}
.hero-text {
    max-width: 41rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-text h1 {
    line-height: 1;
    font-size: 5rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #2d2e32;

    @media (max-width: 500px) {
        font-size: 2.5rem;
    }
}

.hero-text p {
    color: #6c6c6f;
    line-height: 2.4rem;
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 2rem;
}


.hero-img {
    -webkit-animation: morph 8s ease-in-out infinite;
    background-image: url(../assets/profile_picture.jpg);
    animation: morph 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(88 28 135);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    width: 30rem;
    height: 30rem;
    position: relative;

    @media (max-width: 500px) {
        height: 18rem;
        width: 18rem;
    }
}
@keyframes morph {
    0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
.hero button {
    color: #424246;
    font-size: 1.7rem;
    font-weight: 500;
    padding: .75rem 1.5rem;
    border-width: 2px;
    margin: 0.5rem 0;
    width: fit-content;
    align-items: center;
    display: flex;
    border: 2px solid rgb(88 28 135);

    @media (max-width: 960px) {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}
.hero button:hover {
    color: rgb(255 255 255);
    background-color: rgb(88 28 135);
}
.hero button:hover span {
    transform: rotate(90deg);
    transition: 500ms;
}
.skills {
    align-items: center;
    bottom: 0;
    left: 9rem;
    font-size: 1.7rem;
    display: flex;
    position: absolute;

    
    @media (max-width: 960px) {
        flex-direction: column;
        position: static;
    }
}
.skills .skill-logos {
    display: flex;
    flex-wrap: wrap;
        
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    position: relative;
    
    @media (max-width: 960px) {
        justify-content: center;
    }
}
.skills p {
    color: #424246;
    font-size: 1.8rem;
    font-weight: 500;
    padding-right: 2rem;
    border-right: 2px solid rgb(88 28 135);
    margin-right: 7rem;

    @media (max-width: 960px) {
        border-bottom: 2px solid #44337a;
        border-right: none;
        margin-bottom: 2rem;
        margin-right: 0;
        padding-bottom: .5rem;
        padding-right: 0;
    }
}
.skills li { 
    padding-left: .5rem;
    padding-right: .5rem;
}
.skills ul li img {
    height: 5rem;
    width: 10rem;
}
