@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: #ffff;
    font-family: 'Inter Variable', sans-serif;
    position: relative;
}

.hero {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    width: 100%;
    
}

.content {
    align-items: center;
    display: flex;
    gap: 3rem;
    height: 38rem; 
    justify-content: center;
    position: relative;
}

.hero-main {
    align-items: center;
    display: flex;
    gap: 3rem;
    justify-content: center;
    position: relative;
}
.projects {
    padding: 15rem 0;

    @media (max-width: 1020px) {
        padding: 8rem 0;
    }
}
.project-content {
    display: flex;
    flex-direction: column;
}
.project-content p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.project-content h3 {
    margin-bottom: 4rem;
    font-weight: 700;
    font-size: 1.5rem;
}
.projects-grid-display {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    height: auto;
    width: 100%;
    
    .project {
        border-radius: 1.5rem;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        display: flex;
    }

    .project-description p {
        font-size: 1.2rem;
    }
}

.project.pro__1 {
    flex-direction: row;
    gap: 2rem;
    height: 30rem;
    padding: 2rem;
    width: fit-content;

    @media (max-width: 1020px) {
        flex-direction: column !important;
        height: 40rem;
        gap: 2rem;
        margin: 0 auto;
        width: fit-content;
    }

    @media (max-width: 400px) { 
        width: 100%;
    }
}

.backward {
   flex-direction: row-reverse !important;
}


.projects-grid-display .project-image {
    height: auto;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    width: 33rem;
    
    @media (width: 650px) {
        width: 40%;
    }
}
.projects-grid-display .project-image img {
    height: auto;
    width: 100%;

}
.projects-grid-display .project-description {
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
    width: 20rem;

    @media (max-width: 1020px) {
        margin: 0 auto;
    }
}
.projects-grid-display .project-description h3 {
    align-items: center;
    display: flex; 
    gap: 0.3rem;
    justify-content: center;
    margin-bottom: 2rem;
    position: relative;
}

.projects-grid-display .project-description > p {
    font-size: 1.7rem;
    text-align: center;
    text-transform: none;
}

.tech-stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}
.tech-stack p {
        font-size: 1rem !important;
        font-weight: 700!important;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: .5rem 1rem;
        text-transform: none;
}



.hero-img {
    -webkit-animation: morph 8s ease-in-out infinite;
    background-image: url(./assets/profile_picture.jpg);
    animation: morph 8s ease-in-out infinite;
    transition: all 1s ease-in-out;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid rgb(88 28 135);
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    width: 20rem;
    height: 20rem;
    position: relative;

}
@keyframes morph {
    0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.project {
    padding: 3rem 0;
}

.container {
    max-width: 77rem;
    margin: 0 auto;
    padding: 0 4rem;
}


.skills{
    align-items: center;
    bottom: 0;
    display: flex;
    position: absolute;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    list-style: none;
}
.skills li {
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    padding: 3rem 0;

    @media (max-width: 1020px) {
        padding: 8rem 0;
    }
}



.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
    @media (max-width: 1020px) {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 1rem;
    }
}


.img-side {
    position: relative;

    @media (max-width: 1020px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.main-img {
    position: relative;
    height: 356.8px;
    border-radius: 1.5rem;

    @media (max-width: 460px) {
        height: auto;
    }
}

.text-side {

    @media (max-width: 1020px) {
        margin: 0 auto;
        max-width: 34rem;
    }

}



@layer base {
    body {
        font-family: 'Inter Variable', sans-serif;
        }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-thumb {
    background-color: rgb(88 28 135);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(64, 22, 92);
}

::webkit-scrollbar-track:active, ::-webkit-scrollbar-track:hover {
    background-color: #fff;
}


::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px;
}


@media (max-width: 1020px) {
    .hero {
        height: auto;
        padding: 8rem 0rem 1rem 0rem;
    }
    .content {
        flex-direction: column;
        gap: 1.2rem;
        height: auto;
        text-align: center;
    }
    .hero-main {
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .group {
        display: inline-flex;
    }
    .skills {
        flex-direction: column;
        position: static;
    }
    .skills p {
        border-bottom: 2px solid #44337a;
        border-right: none;
        margin-bottom: 2rem;
        margin-right: 0;
        padding-bottom: .5rem;
        padding-right: 0;
    }
    .skills ul {
        justify-content: center;
    }
}


